table{
   
    margin: 0 auto;
    padding: 1px;
    text-align: left;
    border: 2px #9966ff solid;
    background-color: #cccccc;
}

#header{
    background-color:#999999;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    
}
#submit
{
    color: white;
    background-color: #999900;
    -moz-border-radius: 10px fullwidth;
    text-transform: uppercase;
    float: right;
    line-height: 20px;
}
#submit:hover
{
    color: white;
    background-color: #cccc00;
    -moz-border-radius: 10px;
    text-transform: uppercase;
}

